.deps
*.o
autoconf.h
autoconf.h.in
angband
monster/*
player/*
object/*
nds/*
osx/*
win/*
Makefile.src
doc/*
tests/*
angband.*
birth.c
cave.c
cmd*
death.c
game-cmd.*
history.c
init*
pathfind.c
randname.c
score.c
squelch.c
target.c
ui-birth.*
xtra*
attack.c
config.h
debug.*
defines.h
dungeon.c
effects.*
externs.h
files.c
generate.c
list*
load*
option.*
save*
spell*
store.*
tables.c
trap.c
types.h
variable.c
wiz*
x-spell.c
